* {
    box-sizing: border-box;
}

.card {
    display: flex;
    background: rgba(88, 88, 84, 0.5);
    height: 80%;
    width: 90%;
    max-width: 1515px;
    max-height: 900px;
    color: white;
    border-radius: 50px;
    z-index: 2;
}

.left {
    display: flex;
    flex-direction: column;
    float: left;
    width: 60%;
    padding-top: 5%;
    padding-left: 10%;
    /* background-color: rosybrown; */
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 40%;
    padding-right: 25px;
    height: 100%;
}

.left > .title {
    width: 100%;
    font-family: Coustard;
    font-weight: black;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-size: 50px;
    padding-bottom: 50px;
}

.left > .paragraph {
    width: 80%;
    font-family: Coustard;
    font-size: 30px;
    padding-bottom: 70px;
    padding-right: 20px;
}

.left > .lang-box {
    display: flex;
    justify-content: left;
    align-items: top;
    width: 100%;
    height: 150px;
    padding: 10px 0px;
}

.left > .lang-box > .lang {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    width: 90px;
    height: 90px;
    border-radius: 14px;
    background-color: rgb(0, 0, 0, 0.5);
}

.left > .explore {
    font-size: 40px;
    max-height: 88px;
    max-width: 300px;
    padding: 15px;
    background-color: rgb(193, 56, 44);
    border-radius: 10px;
    padding: 15px 51px;
    color: white;
    border: none;
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}