@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --myred: #c1382c;
}

body {
  color: rgb(0, 0, 0, 0.75);
  background: rgb(var(255, 255, 255));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.costum-shadow {
  -webkit-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 1);
  box-shadow: -4px 4px 20px 0px rgba(0, 0, 0, 1);
}
