**/.git
**/.idea/
**/.vscode/
**/*.sublime-project
**/*.sublime-workspace

**/.env
**/venv/
**/env/

**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__/

**/*.log
**/*.pot

**/*.sqlite3
**/db.sqlite3

**/UsersMedia/*/*
!**/UsersMedia/*/.default*.jpeg

**/migrations/*
!**/migrations/__init__.py

Dockerfile
.dockerignore
